:root {
    --mainBlue: #003fcc; 
}


body {
	/*border-top: 4px solid var(--mainBlue);*/
	font-family: 'Playfair Display';
	transition: .5s;
	margin: 0;

	padding: 0;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

#content {
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	background-color: white;
	height: 1500px;
}

#intro-block{
	box-sizing: border-box;

	padding: 6rem 2rem;
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	flex-wrap: wrap;
	align-items: flex-end;

}

#blocktext{
	display: inline-block;
	width: 65%;
	max-width: 860px;
}

#name {
	color: var(--mainBlue);
	font-size: 50px;
	font-weight: 700;
	letter-spacing: .3rem;
}



.tagline{
	font-size: 35px;
	font-weight: 700;
	color: black;
	margin-bottom: 2.5rem;

	min-width: 100%;
}

p {
	font-family: 'Open Sans';
	font-size: 22px;
	font-weight: 300;
	color: #666;
	width: 100%;
	text-align: justify;

	margin: 0;
}

#profile {
	width: 240px;
	height: 240px;
	max-width: 300px;
	max-height: 300px;
	min-width: 160px;
	min-height: 160px;

	margin-left: 4.5rem;

	padding: 0 0 .5rem .5rem;
	border-left: 5px solid var(--mainBlue);
	border-bottom: 5px solid var(--mainBlue);

	
	/*
		
		border-radius: 50%;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 20px, whitesmoke 0px -1px 0px;



		border: 5px solid white;
		border-radius: 50%;

		-moz-box-shadow:    0px 0px 2px 2px #ccc;
		-webkit-box-shadow: 0px 0px 2px 2px #ccc;
		box-shadow:         0px 0px 3px 3px #ccc;*/
}

@media only screen and (max-width: 993px) {
	#intro-block {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	#blocktext {
		width: 100%;
		max-width: 100%;
		margin-bottom: 2rem;	
	}

	#profile {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 3rem;
	}
}





.card {
	border-top: 2px solid var(--mainBlue);
	padding: 1.5rem;
	width: 22%;
	min-width: 150px;

	background-color: white;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .10);
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 5rem;
	transition: .3s;

	border-radius: 0 0 5px 5px;
}

.card:hover, .card-sm:hover {
	cursor: pointer;
	box-shadow: 0px 5px 18px rgba(0, 0, 0, .25);

}

.card-pic {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	display: block;
}


.card-header {
	font-size: 30px;
	font-weight: 400;
	margin: 0 auto;
	text-align: center;
}

.card-subhead {
	font-family: 'Open Sans';
	font-size: 18px;
	font-weight: 300;
	font-style: italic;
	color: #aaa;

	margin: 0 auto;
	text-align: center;

	margin-bottom: 1rem;
}

.card-text{
	font-size: 18px;
	text-align: center;
	margin: 0 auto;
}

img {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.card-sm {
	border-top: 2px solid var(--mainBlue);
	padding: 1rem 1.5rem 1.5rem 1.5rem;
	width: 35%;

	background-color: white;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .10);
	margin-left: 2rem;
	margin-right: 2rem;
	margin-bottom: 3rem;
	transition: .3s;
}



.cardholder {
	box-sizing: border-box;

	padding-left: 5rem;

	display: flex;
	vertical-align: top;
	flex-wrap: wrap;

}








