:root {
    --mainBlue: #003fcc; 
}
#all {
	width: 30%;
	margin: 5rem auto;
}
/*FONTS */
	body {
		font-family: 'EB Garamond';
	}

	p {
		font-family: -apple-system, BlinkMacSystemFont, sans-serif;
		font-weight: 300;
	}

	#intro-paragraph {
		font-size: 19px;
		line-height: 1.4;
		text-align: justify;
	}

	#name {
		font-size: 60px;
		font-weight: 400;
		text-align: center;
		color: var(--mainBlue);
		margin-bottom: 2rem;
	}

	p {
		color: #333;
		width: 100%;
		margin: 0;
	}

	#intro-paragraph {
		margin-top: .75rem;
		color: black !important;
	}


a {
	color: black;
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

body {
	transition: .5s;
	margin: 0;
	padding: 0;
	background-color: #f9f9f9;

}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

b {
	font-weight: 600;
}

#intro-block{
	box-sizing: border-box;


	width: 85%;
	max-width: 1300px;
	margin: 0 auto;

	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;

	background-color: white;
}


@media only screen and (max-width: 576px) {

	#name {
		font-size: 45px;
		text-align: center;
		line-height: 1;
		margin-bottom: 1rem;
	}
}












